  * {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: Coming Soon;
}

.bar_links{
    display: flex;
    justify-content: space-around;
    width: 30%;
    color: thistle;
}

.bar_links li{
    list-style: none;
}

.bar_links a{
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 14px;
    font-weight: bold;
}

.sandwich div{
    width: 25px;
    height: 2px;
    background-color: black;
    margin: 5px;
    background-color: thistle;
}

@media screen and (max-width:1024px){
    .bar_links{
        width: 40%
    }
}

@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }
    .bar_links{
        text-align: center;
        position: absolute;
        left: 0px;
        height: 55vh;
        top: 8vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 15%;
        transform: translate(100%);
    }
}

h1 {
    font-family: Indie Flower;
    text-align: center;
    padding-top: 100px;
    height: 18vh;
}

h3 {
    font-family: Coming Soon;
    text-align: center;
    padding-bottom: 200px;
    font: thistle;
}

body{
    background-color: rgb(44, 43, 43);
    color: thistle;
}
