#tabsTABLE {
    font-family: Coming Soon;
    text-align: center;
    width: 100%;
    padding: 50px 650px;
}

h2 {
    font-family: Indie Flower;
    text-align: center;
    padding-top: 100px;
}

h3 {
    font-family: Coming Soon;
    text-align: center;
    padding-bottom: 200px;
}